body {
  margin: 0;
  font-family: "Merriweather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  /* background-image:url(../public/University_of_Waterloo_seal.svg.png);
  background-repeat: no-repeat; */
  background-color: rgb(0, 0, 0);
}

.bg {
background-image:url(../public/University_of_Waterloo_seal.svg.png);
backdrop-filter: blur(10px);
-webkit-filter: blur(10px);
box-sizing: border-box;
background-repeat: no-repeat;
height: 100%;
filter: blur(10px);
}

code {
  font-family: "Roboto";
}